doctype html
html
  head
    meta(charset='utf-8')
    block head
    link(rel='stylesheet' href='/static/stylesheets/WTD.css')
  body
    .background
    header
      .bgCadetBlue.topbtmbdr
       div.info ?
        
    main.center.txtBlackOlive
      block content
    
    footer
      .bgCadetBlue.topbtmbdr.btm
    script(src="static/js/indexphotos.js", type="text/javaScript")