/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

body {
  background-color: darkblue;
}
html,
body,
header {
  margin: 0;
  padding: 0;
}
header {
  width: 100vw;
}
.fontMono {
  font-family: "Xanh Mono", monospace;
}
.fontHW {
  font-family: "Ms Madi", cursive;
}
.fontARI {
  font-family: "Aref Ruqaa Ink", serif;
}

/*Main Block Header*/

.text {
  color: white;
  padding: 40px;
  font-size: 25px;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: background-color 0.1s ease;
  -o-transition: background-color 0.1s ease;
  transition: background-color 0.1s ease;
  -webkit-transition: -webkit-transform 0.1s ease;
  transition: -webkit-transform 0.1s ease;
  -o-transition: transform 0.1s ease;
  transition: transform 0.1s ease;
  transition: transform 0.1s ease, -webkit-transform 0.1s ease;
  margin: auto;
}
.infobtn {
  max-width: 200px;
  width: 100%;
  height: 40px;
  background-color: yellow;
  font-size: 20px;
  border: solid 5px orange;
  border-radius: 10px;
}
.infobtn:active {
  background-color: orange;
  border-color: yellow;
}

/*ID's*/
#startcontain {
  position: absolute;
  width: 100%;
  max-width: 1200px;
  -ms-flex-line-pack: center;
  align-content: center;
  margin-top: -70px;
  z-index: 1;
}

#startbtn {
  border: 5px solid black;
  padding: 15px 70px;
  margin: 30px;
  border-radius: 15px;
  font-size: 30px;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  -o-transition: transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  -webkit-transition: border-color 0.2 ease;
  -o-transition: border-color 0.2 ease;
  transition: border-color 0.2 ease;
}
#startbtn:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
#startbtn:active {
  border-color: ghostwhite;
}

#resetbtn {
  border: 5px solid black;
  padding: 15px 40px;
  margin: auto;
  border-radius: 15px;
  font-size: 20px;

  -webkit-transition: border-color 0.2s ease;

  -o-transition: border-color 0.2s ease;

  transition: border-color 0.2s ease;
}
#resetbtn:active {
  border-color: ghostwhite;
}

/* promps: (container,gameover,nextlevel,begin*/

#messageContain {
  width: 100%;
  position: absolute;
  z-index: 5;
}
#messageContain span {
  display: table;
  margin: auto;
  text-align: center;
  -ms-flex-line-pack: center;
  align-content: center;
  border: solid 5px lightgray;
  border-radius: 20px;
  background-color: lightcyan;
  padding: 5px;
  font-size: 30px;
}

#scores {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr) [3];
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  -o-object-position: center;
  object-position: center;
  width: 100%;
}

#gameArea {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto) [2];
  grid-template-columns: repeat(2, auto);
  -ms-grid-rows: auto 1vh auto;
  grid-template-rows: repeat(2, auto);
  grid-row-gap: 1vh;
  max-width: 575px;
  max-height: 575px;
  width: 70vw;
  height: 70vw;
  text-align: center;
  -ms-flex-line-pack: center;
  align-content: center;
  margin: auto auto;
  padding: 1vh;
  border: 15px solid black;
  border-radius: 50%;
  position: relative;
  justify-items: center;
}

#gameArea > *:nth-child(1) {
  -ms-grid-row: 1;

  -ms-grid-column: 1;
}

#gameArea > *:nth-child(2) {
  -ms-grid-row: 1;

  -ms-grid-column: 2;
}

#gameArea > *:nth-child(3) {
  -ms-grid-row: 3;

  -ms-grid-column: 1;
}

#gameArea > *:nth-child(4) {
  -ms-grid-row: 3;

  -ms-grid-column: 2;
}

#center {
  position: absolute;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 50%;
  width: 20vw;
  height: 20vw;
  max-width: 172px;
  max-height: 172px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  background-color: darkblue;
}
#green {
  background-color: green;
  border: solid 10px darkgreen;
  width: 30vw;
  height: 30vw;
  max-width: 260px;
  max-height: 260px;
  border-radius: 30vh 0 0 0;
}
#green:active {
  background-color: #7cfc00;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
#greenactive {
  background-color: #7cfc00;
  border: solid 10px darkgreen;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  width: 30vw;
  height: 30vw;
  max-width: 260px;
  max-height: 260px;
  border-radius: 30vh 0 0 0;
}
#red {
  background-color: lightcoral;
  border: solid 10px darkred;
  width: 30vw;
  height: 30vw;
  max-width: 260px;
  max-height: 260px;
  border-radius: 0 30vh 0 0;
}
#red:active {
  background-color: red;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
#redactive {
  background-color: red;
  border: solid 10px darkred;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  width: 30vw;
  height: 30vw;
  max-width: 260px;
  max-height: 260px;
  border-radius: 0 30vh 0 0;
}

#yellow {
  background-color: #ffdb58;
  border: solid 10px #dba800;
  width: 30vw;
  height: 30vw;
  max-width: 260px;
  max-height: 260px;
  border-radius: 0 0 0 30vh;
}
#yellow:active {
  background-color: #ffff00;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
#yellowactive {
  background-color: #ffff00;
  border: solid 10px #dba800;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  width: 30vw;
  height: 30vw;
  max-width: 260px;
  max-height: 260px;
  border-radius: 0 0 0 30vh;
}
#blue {
  background-color: #2e4da7;
  border: solid 10px blue;
  width: 30vw;
  height: 30vw;
  max-width: 260px;
  max-height: 260px;
  border-radius: 0 0 30vh 0;
}
#blue:active {
  background-color: #0096ff;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
#blueactive {
  background-color: #0096ff;
  border: solid 10px blue;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  width: 30vw;
  height: 30vw;
  max-width: 260px;
  max-height: 260px;
  border-radius: 0 0 30vh 0;
}

#information {
  padding-top: 20px;
  width: 100%;
  text-align: center;
}

#popup {
  position: absolute;
  color: ghostwhite;
  top: 0;
  bottom: 0;
  background-color: black;
  border: solid 8px ghostwhite;
  border-radius: 10px;
  padding: 30px 10px;
  width: 50%;
  min-width: 300px;
  box-sizing: border-box;
  margin: auto;
  left:50%;
  transform:translateX(-50%);
  overflow-y: scroll;
}

h2 {
  margin-top: 0;
}
#exitbtn {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
}

@media (max-width: 500px) {
  #logo a[class="name"] {
    font-size: 5vw;
  }
  #scores {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 20px;
  }
  .text {
    padding: 20px;
  }
}
