<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Castoro+Titling&family=Vollkorn:wght@500&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/static/stylesheets/main/profile.css">
        <title>Dalton Simeone Profile</title>
    </head>
              <div id="introContainer">
                <section class="castoro">
                  <h1>Dalton Simeone's Profile</h1>
                  <button id="introbtn" class="castoro">Enter</button>
                </section>
              </div>
          
    <body>
       <header>
               <section id="nav">
                <section id=name-skills>
                 <div class="castoro headername"> Dalton Simeone</div>
                 <div id='skills'><img src="/static/images/svgs/HTML5.png" alt="HTML"><img src="/static/images/svgs/CSS3.png" alt="CSS"><img src="/static/images/svgs/JS.png" alt="JavaScript"><img src="/static/images/svgs/nodejs.png"></div>
                 </section>
                 
                 
                 <section id="head-container">
                 <button class="black-expand-btmbdr-btn" id="resumebtn"> DOWNLOAD RESUME</button>
                 <button id="treehouseBtn" class="black-expand-btmbdr-btn treehouse">TREE HOUSE</button>
                 <button id="contactBtn" class="black-expand-btmbdr-btn contact">CONTACT</button>
                 <a class = 'linkedIN' target = "_blank" href="https://www.linkedin.com/in/dalton-simeone-b2222a59/">
                            <img src="/static/images/svgs/linkedin.svg" alt="Authors LinkedIn"></a>
                 </section>
                 </section>
                 <button id='dropMenuBtn' class=" drop-menu blue-bdr-btn"> Menu<span>&#9660;</span></button>
        </header>
        <main>
         <div id="mainpage" class ="slides">
         <div id="block1">
          <h1>Welcome to my Portfolio, what would you like to see?</h1>
          <div class="btn-container">

           <button id="pastWrkBtn" class="mainpanelbtn">Past Work Expereince
              <div class='triangle_dims-sm triangle_rightA_L-D mepfieldpic'></div>
              <div class='cntrlsPic triangle_hoz_R-L' ></div>
              <div class='traingle_rightA_R-U triangle_dims-sm mepPic'></div></button>
          <button id="profSumBtn" class="mainpanelbtn">
              <div class='triangle_dims-sm triangle_rightA_L-D citPic'></div>
              <div class='cntrlsPic triangle_hoz_R-L' ></div>
              <div class='traingle_rightA_R-U triangle_dims-sm mepPic'></div>
          </button>
           <button id="projBtn" class="mainpanelbtn">Projects
              <div class='triangle_dims-sm triangle_rightA_L-D WTD-sitephoto'></div>
              <div class='letEatPic triangle_hoz_R-L' ></div>
              <div class='traingle_rightA_R-U triangle_dims-sm simonImg'></div>
              </button>
           </div>
           </div>
          </div>   
                

        </main>
      <script type="text/javascript" src="/static/js/main/treehouse.js"></script>
      <script type="text/javascript" src = "/static/js/main/profile-btns.js"></script>
      <script type="text/javascript" src = "/static/js/main/focus-trap.js"></script>
    </body>

</html>