    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Castoro+Titling&family=Vollkorn:wght@500&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/static/stylesheets/main/tryout.css">
        <title>not the real deal</title>
    </head>
    <body>
      
      <main>
        <div class=blurryContainer>
          <!--<button class = "projBtn"><img src="/static/images/main/letEatPic.jpg">
            <span>
             <p>LetsEat - Recipe Site</p>
              <p>Front-end: HTML | JavaScript | CSS</p>
              <p>back-end: Node.js | Express | MySQL</p>
            </span>
          </button>
                    <button class="projBtn"><img src="/static/images/main/letEatPic.jpg">
            <span>
              <p>a b c d e f g h a s d f a s d f a s d a s a s a s</p>
              <p>a b c d e f g h a s d f a s d f a s d a s a s a s</p>
            </span>
          </button>-->
        
          <div id="EE" class="pastWork">
          <!--backround image should be set via javascript so if it changes don't have th efile trhough css -->
          <h3>Electrical Engineer [2018 - current]</h3>
          <div>
          <section class="apps">
              <span> frequently used Programs(clickable):</span>
              <a href="https://www.autodesk.com/products/revit/mep"><img src = "/static/images/main/revit.png"></a><img src = "/static/images/main/agi32.jpeg"><img src = "/static/images/main/autoCad.png">
           </section>
            <p>Designed electrical and lighting systems in buildings with a primary focus in commercial, K-12, and institutional buildings. Design would consists of: </p>
            <ul>
              <li>colaborating with Owners, architects and suppliers for specific needs.</li>
              <li>calculating lighting designs using lighting applications to comply to local ordinance</li>
              <li>design and calculating a sufficent electrical distrubution system(from Boiler rooms/cooling towers to the location of the receptacle for a breakroom coffee maker).</li>
              <li>Site Visits</li>
              <li>requiring and reviewing contractor provided equipment to ensure proper specifications are used.</li>
            </ul>
          </div>
          </div>
                   <hr class=breaker>
                    <div id="PLC" class = "pastWork">
          <!--backround image should be set via javascript so if it changes don't have th efile trhough css -->
          <h3>Electrical Engineer [2018 - current]</h3>
          <div>
          <section id="eeApps">
              <span> frequently used Programs(clickable):</span>
              <a href="https://www.autodesk.com/products/revit/mep" target="_blank"><img src = "/static/images/main/revit.png"></a><img src = "/static/images/main/agi32.jpeg"><img src = "/static/images/main/autoCad.png">
           </section>
            <p>Designed electrical and lighting systems in buildings with a primary focus in commercial, K-12, and institutional buildings. Design would consists of: </p>
            <ul>
              <li>colaborating with Owners, architects and suppliers for specific needs</li>
              <li>calculating lighting designs using lighting applications to comply to local ordinance</li>
              <li>design and calculating a sufficent electrical distrubution system(from Boiler rooms/cooling towers to the location of the receptacle for a breakroom coffee maker).</li>
              <li>Site Visits</li>
              <li>requiring and reviewing contractor provided equipment to ensure proper specifications are used.</li>
            </ul>
          </div>
          
          
          </div>
        
        </div>
      </main>
    </body>